:root {
	/*		Colors		*/
	--background: #F8EEEC;

	--dark-green: #7EBE82;
	--light-green: #95CE99;
	--dark-pink: #F08F8F;
	--light-pink: #F6B6B6;
	--dark-purple: #583F9C;
	--light-purple: #A074C4;
	--dark-aqua: #6CD0DF;
	--light-aqua: #B4E3EA;
	--dark-orange: #FF9172;
	--light-orange: #FCBFAD;

	--font-family: "Arial";


	/*    Sizing    */
	--sizing-small: 0.625rem;
	--sizing-medium: 1.25rem;
	--sizing-big: 2rem;
	--sizing-huge: 6.25rem;


	/*    Typography    */
	--font-small-desktop: 1.25rem;
	--font-medium-desktop: 1.563rem;
	--font-big-desktop: 2.5rem;
	--font-header-desktop: 3.75rem;

	--font-small-mobile: 0.938rem;
	--font-medium-mobile: 1.25rem;
	--font-big-mobile: 1.563rem;
	--font-header-mobile: 2.188rem;
}